In [1]:
import pandas as pd
import numpy as np 
import scipy.stats as stats

import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.express as px
from matplotlib.pyplot import figure
from plotly.offline import init_notebook_mode,iplot
import plotly.graph_objects as go

%matplotlib inline 

#Data set Import 
df = pd.read_csv("D:\\unicorns till sep 2022.csv", encoding='latin-1') 
df.head()

# Cleaning the data
df=pd.DataFrame(df)
df.rename(columns = {'Date Joined' : 'Date'},inplace = True) 


date = df.Date.str.split('/',expand =True)
df['year']= date[2]
df['month']= date[0]

df.year=pd.to_numeric(df.year)

df.head(10)

df.columns = df.columns.str.replace('Â', '')
df.rename(columns={'City ': 'City'}, inplace=True)
df.head()

,Company,Valuation ($B),Date,Country,City,Industry,Investors,year,month
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2017,4
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,12
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",2018,7
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014,1
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",2018,1

In [2]:
#Startups in United States

USA =df[df['Country']=='United States']
USA_sorted = USA.sort_values(by='Valuation ($B)', ascending=False)
USA_sorted.head()

,Company,Valuation ($B),Date,Country,City,Industry,Investors,year,month
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014,1
57,ServiceTitan,$9.50,11/14/2018,United States,Glendale,Internet software & services,"Bessemer Venture Partners, ICONIQ Capital, Bat...",2018,11
56,OutSystems,$9.50,6/5/2018,United States,Boston,Internet software & services,"KKR, ES Ventures, North Bridge Growth Equity",2018,6
60,Klaviyo,$9.20,11/17/2020,United States,Boston,Internet software & services,"Summit Partners, Accel, Astral Capital",2020,11
62,Tanium,$9,3/31/2015,United States,Kirkland,Cybersecurity,"Andreessen Horowitz, Nor-Cal Invest, TPG Growth",2015,3

In [3]:
USA =df[df['Country']=='United States']
USA_sorted = USA.sort_values(by='year', ascending=False)
USA_sorted.head()

,Company,Valuation ($B),Date,Country,City,Industry,Investors,year,month
1185,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels",2022,7
234,Autograph,$3.66,1/20/2022,United States,Santa Monica,Internet software & services,01 Advisors. Kleiner Perkins Caufield & Byers....,2022,1
547,Front,$1.70,6/28/2022,United States,San Francisco,Internet software & services,"Sequoia Capital, Uncork Capital, Salesforce Ve...",2022,6
1149,BlueVoyant,$1,2/23/2022,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2022,2
558,Productboard,$1.70,2/2/2022,United States,San Francisco,Internet software & services,"Index Ventures, Kleiner Perkins Caufield & Bye...",2022,2

In [4]:
Stripe = df[df["Company"]== "Stripe"]
Stripe

,Company,Valuation ($B),Date,Country,City,Industry,Investors,year,month
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2014,1

In [5]:
df.columns = df.columns.str.strip()

# Verify cleaned column names
print(df.columns)

Index(['Company', 'Valuation ($B)', 'Date', 'Country', 'City', 'Industry',
       'Investors', 'year', 'month'],
      dtype='object')

In [6]:
#Most Valued Startup City 
Valued_city = df.groupby('City').sum().sort_values(by='Valuation ($B)', ascending=False)
Valued_city.head()

,Company,Valuation ($B),Date,Country,Industry,Investors,year,month
City,,,,,,,,
San Francisco,StripeInstacartDatabricksChimeMiroDiscordRippl...,$95$39$38$25$17.50$15$15$13.50$13$12.59$12.30$...,1/23/201412/30/20142/5/20193/5/20191/5/20224/2...,United StatesUnited StatesUnited StatesUnited ...,"FintechSupply chain, logistics, & deliveryData...","Khosla Ventures, LowercaseCapital, capitalGKho...",339424,1122314121210101012411810104127104114558214363...
Boston,OutSystemsKlaviyoSnykDataRobotReify HealthGlob...,$9.50$9.20$8.60$6.30$4.80$4.20$3.80$3.60$3.50$...,6/5/201811/17/20201/21/20207/29/20198/10/20211...,United StatesUnited StatesUnited StatesUnited ...,Internet software & servicesInternet software ...,"KKR, ES Ventures, North Bridge Growth EquitySu...",42421,61117814109158964394426
Glendale,ServiceTitanAge of Learning,$9.50$3,11/14/20185/3/2016,United StatesUnited States,Internet software & servicesEdtech,"Bessemer Venture Partners, ICONIQ Capital, Bat...",4034,115
Berlin,N26Trade RepublicwefoxContentfulGorillasFlinkF...,$9.23$5.36$4.50$3$3.10$2.85$2.10$2$1.65$1.20$1...,1/10/20195/20/20213/5/20197/28/20213/25/202112...,GermanyGermanyGermanyGermanyGermanyGermanyGerm...,FintechFintechFintechInternet software & servi...,"Redalpine Venture Partners, Earlybird Venture ...",40414,153731261074511010911121244
Stockholm,NorthvoltKlarnaKRYEinrideEpidemic SoundVOIInst...,$9.08$6.70$2$1.44$1.40$1$1,6/12/201912/12/20114/27/202112/31/20213/11/202...,SwedenSwedenSwedenSwedenSwedenSwedenSweden,OtherFintechHealthAuto & transportationInterne...,"Vattenfall, Volkswagen Group, Goldman SachsIns...",14136,6124123124

In [7]:
#Most Valued City in USA 

USA =df[df['Country']=='United States']
USA_Valued_city = USA.groupby('City').sum().sort_values(by='Valuation ($B)', ascending=False)


USA_Valued_city.head().drop(columns=['Date','Country','year', 'month'])

,Company,Valuation ($B),Industry,Investors
City,,,,
San Francisco,StripeInstacartDatabricksChimeMiroDiscordRippl...,$95$39$38$25$17.50$15$15$13.50$13$12.59$12.30$...,"FintechSupply chain, logistics, & deliveryData...","Khosla Ventures, LowercaseCapital, capitalGKho..."
Boston,OutSystemsKlaviyoSnykDataRobotReify HealthGlob...,$9.50$9.20$8.60$6.30$4.80$4.20$3.80$3.60$3.50$...,Internet software & servicesInternet software ...,"KKR, ES Ventures, North Bridge Growth EquitySu..."
Glendale,ServiceTitanAge of Learning,$9.50$3,Internet software & servicesEdtech,"Bessemer Venture Partners, ICONIQ Capital, Bat..."
Kirkland,Tanium,$9,Cybersecurity,"Andreessen Horowitz, Nor-Cal Invest, TPG Growth"
Mountain View,NuroWorkatoZumeBloomReachAddeparMoveworksQuora...,$8.60$5.70$2.25$2.20$2.17$2.10$2$2$1.70$1.50$1...,Auto & transportationInternet software & servi...,"SoftBank Group, Greylock Partners, Gaorong Cap..."

In [8]:
USA.City.value_counts().head(15)

City
San Francisco    168
New York         111
Boston            21
Palo Alto         20
Mountain View     17
Chicago           17
Redwood City      12
San Mateo         11
Austin            10
Cambridge         10
Los Angeles        9
Sunnyvale          8
San Jose           8
Seattle            8
Denver             7
Name: count, dtype: int64

In [9]:
USA[USA.City=='Seattle']['Company']

178            Outreach
222              Convoy
243            Rec Room
249            Highspot
695     Rad Power Bikes
788              Qumulo
867               Karat
1046           Amperity
Name: Company, dtype: object